.header{
    background: linear-gradient(45deg, rgb(1, 85, 85), aqua);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    height: 80px;
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    margin-bottom: 14px;
}
.header__bar{
    display: flex;
    padding: 20px;
    border:4px solid rgb(33, 138, 138);
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 8px;
}
.header__bar__searchBar{
    display: flex;
    justify-content: space-around;
}
